<!DOCTYPE html>
<html lang="en">
<head>
    <% include shared/shared_header %>
 
</head>
<body>
    <% if(locals.error != null){ %>
   <h2> <%- locals.error %></h2>
   <% }else{%>
    <h2> <%- locals.title %></h2>
    <% }%>
</body>
</html>